/*======== layout.scss ========*/
/* variables */
* {
  box-sizing: border-box; }

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px; }

/* ba-grid */
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px; }

.row + .row {
  margin-top: 1rem; }

@media only screen and (min-width: 0) {
  [class*="col-xs"] {
    box-sizing: border-box;
    padding-right: 15px;
    padding-left: 15px; }
  .hidden-xs {
    display: none !important; }
  .col-xs-1 {
    flex-basis: 8.33333%;
    max-width: 8.33333%; }
  .col-xs-2 {
    flex-basis: 16.66667%;
    max-width: 16.66667%; }
  .col-xs-3 {
    flex-basis: 25%;
    max-width: 25%; }
  .col-xs-4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%; }
  .col-xs-5 {
    flex-basis: 41.66667%;
    max-width: 41.66667%; }
  .col-xs-6 {
    flex-basis: 50%;
    max-width: 50%; }
  .col-xs-7 {
    flex-basis: 58.33333%;
    max-width: 58.33333%; }
  .col-xs-8 {
    flex-basis: 66.66667%;
    max-width: 66.66667%; }
  .col-xs-9 {
    flex-basis: 75%;
    max-width: 75%; }
  .col-xs-10 {
    flex-basis: 83.33333%;
    max-width: 83.33333%; }
  .col-xs-11 {
    flex-basis: 91.66667%;
    max-width: 91.66667%; }
  .col-xs-12 {
    flex-basis: 100%;
    max-width: 100%; } }

@media only screen and (max-width: 0) {
  .hidden-before-xs {
    display: none !important; } }

@media only screen and (min-width: 525px) {
  [class*="col-sm"] {
    box-sizing: border-box;
    padding-right: 15px;
    padding-left: 15px; }
  .hidden-sm {
    display: none !important; }
  .col-sm-1 {
    flex-basis: 8.33333%;
    max-width: 8.33333%; }
  .col-sm-2 {
    flex-basis: 16.66667%;
    max-width: 16.66667%; }
  .col-sm-3 {
    flex-basis: 25%;
    max-width: 25%; }
  .col-sm-4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%; }
  .col-sm-5 {
    flex-basis: 41.66667%;
    max-width: 41.66667%; }
  .col-sm-6 {
    flex-basis: 50%;
    max-width: 50%; }
  .col-sm-7 {
    flex-basis: 58.33333%;
    max-width: 58.33333%; }
  .col-sm-8 {
    flex-basis: 66.66667%;
    max-width: 66.66667%; }
  .col-sm-9 {
    flex-basis: 75%;
    max-width: 75%; }
  .col-sm-10 {
    flex-basis: 83.33333%;
    max-width: 83.33333%; }
  .col-sm-11 {
    flex-basis: 91.66667%;
    max-width: 91.66667%; }
  .col-sm-12 {
    flex-basis: 100%;
    max-width: 100%; } }

@media only screen and (max-width: 525px) {
  .hidden-before-sm {
    display: none !important; } }

@media only screen and (min-width: 769px) {
  [class*="col-md"] {
    box-sizing: border-box;
    padding-right: 15px;
    padding-left: 15px; }
  .hidden-md {
    display: none !important; }
  .col-md-1 {
    flex-basis: 8.33333%;
    max-width: 8.33333%; }
  .col-md-2 {
    flex-basis: 16.66667%;
    max-width: 16.66667%; }
  .col-md-3 {
    flex-basis: 25%;
    max-width: 25%; }
  .col-md-4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%; }
  .col-md-5 {
    flex-basis: 41.66667%;
    max-width: 41.66667%; }
  .col-md-6 {
    flex-basis: 50%;
    max-width: 50%; }
  .col-md-7 {
    flex-basis: 58.33333%;
    max-width: 58.33333%; }
  .col-md-8 {
    flex-basis: 66.66667%;
    max-width: 66.66667%; }
  .col-md-9 {
    flex-basis: 75%;
    max-width: 75%; }
  .col-md-10 {
    flex-basis: 83.33333%;
    max-width: 83.33333%; }
  .col-md-11 {
    flex-basis: 91.66667%;
    max-width: 91.66667%; }
  .col-md-12 {
    flex-basis: 100%;
    max-width: 100%; } }

@media only screen and (max-width: 769px) {
  .hidden-before-md {
    display: none !important; } }

@media only screen and (min-width: 1025px) {
  [class*="col-lg"] {
    box-sizing: border-box;
    padding-right: 15px;
    padding-left: 15px; }
  .hidden-lg {
    display: none !important; }
  .col-lg-1 {
    flex-basis: 8.33333%;
    max-width: 8.33333%; }
  .col-lg-2 {
    flex-basis: 16.66667%;
    max-width: 16.66667%; }
  .col-lg-3 {
    flex-basis: 25%;
    max-width: 25%; }
  .col-lg-4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%; }
  .col-lg-5 {
    flex-basis: 41.66667%;
    max-width: 41.66667%; }
  .col-lg-6 {
    flex-basis: 50%;
    max-width: 50%; }
  .col-lg-7 {
    flex-basis: 58.33333%;
    max-width: 58.33333%; }
  .col-lg-8 {
    flex-basis: 66.66667%;
    max-width: 66.66667%; }
  .col-lg-9 {
    flex-basis: 75%;
    max-width: 75%; }
  .col-lg-10 {
    flex-basis: 83.33333%;
    max-width: 83.33333%; }
  .col-lg-11 {
    flex-basis: 91.66667%;
    max-width: 91.66667%; }
  .col-lg-12 {
    flex-basis: 100%;
    max-width: 100%; } }

@media only screen and (max-width: 1025px) {
  .hidden-before-lg {
    display: none !important; } }

@media only screen and (min-width: 1201px) {
  [class*="col-xl"] {
    box-sizing: border-box;
    padding-right: 15px;
    padding-left: 15px; }
  .hidden-xl {
    display: none !important; }
  .col-xl-1 {
    flex-basis: 8.33333%;
    max-width: 8.33333%; }
  .col-xl-2 {
    flex-basis: 16.66667%;
    max-width: 16.66667%; }
  .col-xl-3 {
    flex-basis: 25%;
    max-width: 25%; }
  .col-xl-4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%; }
  .col-xl-5 {
    flex-basis: 41.66667%;
    max-width: 41.66667%; }
  .col-xl-6 {
    flex-basis: 50%;
    max-width: 50%; }
  .col-xl-7 {
    flex-basis: 58.33333%;
    max-width: 58.33333%; }
  .col-xl-8 {
    flex-basis: 66.66667%;
    max-width: 66.66667%; }
  .col-xl-9 {
    flex-basis: 75%;
    max-width: 75%; }
  .col-xl-10 {
    flex-basis: 83.33333%;
    max-width: 83.33333%; }
  .col-xl-11 {
    flex-basis: 91.66667%;
    max-width: 91.66667%; }
  .col-xl-12 {
    flex-basis: 100%;
    max-width: 100%; } }

@media only screen and (max-width: 1201px) {
  .hidden-before-xl {
    display: none !important; } }

@media only screen and (min-width: 1441px) {
  [class*="col-xxl"] {
    box-sizing: border-box;
    padding-right: 15px;
    padding-left: 15px; }
  .hidden-xxl {
    display: none !important; }
  .col-xxl-1 {
    flex-basis: 8.33333%;
    max-width: 8.33333%; }
  .col-xxl-2 {
    flex-basis: 16.66667%;
    max-width: 16.66667%; }
  .col-xxl-3 {
    flex-basis: 25%;
    max-width: 25%; }
  .col-xxl-4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%; }
  .col-xxl-5 {
    flex-basis: 41.66667%;
    max-width: 41.66667%; }
  .col-xxl-6 {
    flex-basis: 50%;
    max-width: 50%; }
  .col-xxl-7 {
    flex-basis: 58.33333%;
    max-width: 58.33333%; }
  .col-xxl-8 {
    flex-basis: 66.66667%;
    max-width: 66.66667%; }
  .col-xxl-9 {
    flex-basis: 75%;
    max-width: 75%; }
  .col-xxl-10 {
    flex-basis: 83.33333%;
    max-width: 83.33333%; }
  .col-xxl-11 {
    flex-basis: 91.66667%;
    max-width: 91.66667%; }
  .col-xxl-12 {
    flex-basis: 100%;
    max-width: 100%; } }

@media only screen and (max-width: 1441px) {
  .hidden-before-xxl {
    display: none !important; } }

/* ba-common */
.ba-text-center {
  text-align: center; }

.ba-text-left {
  text-align-last: left; }

.ba-text-right {
  text-align: right; }

.ba-text-justify {
  text-align: justify; }

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden; }

.hidden {
  display: none; }

/*======== style.scss ========*/
/* color palette */
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px; }

.ba-header {
  padding: 11px 0;
  background-color: #fff; }
  .ba-header-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 69px; }
  .ba-header-top {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    @media screen and (min-width: 1025px) {
      .ba-header-top {
        padding: 0;
        padding-left: 15px; } }

.ba-logo {
  font-size: 0;
  display: block;
  max-width: 80px;
  width: 100%;
  height: 100%; }
  .ba-logo__img {
    max-width: 100%;
    width: 100%; }

.ba-nav {
  background: #fff;
  z-index: 5; }
  .ba-nav-top {
    display: flex;
    align-items: center; }
  @media screen and (min-width: 1025px) {
    .ba-nav {
      width: 100%;
      display: flex;
      align-items: center;
      padding: 0;
      padding-right: 15px; } }

.ba-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0.875rem;
  font-weight: 500;
  color: #7B7B7B;
  background: linear-gradient(180deg, #A6E34F 0%, rgba(255, 255, 255, 0) 100%); }
  .ba-menu__item {
    padding: 0.5rem 1rem; }
  @media screen and (min-width: 769px) {
    .ba-menu {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: none;
      margin: 0 auto;
      max-width: 651px;
      width: 100%;
      color: #000; }
      .ba-menu__item {
        padding: 0; } }
  .ba-menu__link {
    color: inherit;
    text-decoration: none; }
    .ba-menu__link:hover {
      color: #305C2D; }
  .ba-menu-btn {
    border: none;
    padding: 0;
    background-color: transparent; }

.ba-btn {
  border: none;
  background-color: transparent; }
  .ba-btn:active, .ba-btn:focus {
    outline: none; }
  .ba-btn-burger {
    width: 42px;
    height: 42px;
    position: relative; }
    .ba-btn-burger span {
      position: absolute;
      width: 100%;
      height: 5px;
      top: 19px;
      left: 0;
      background: #305C2D;
      display: block;
      transition: .5s; }
      .ba-btn-burger span:first-child {
        top: 2px; }
      .ba-btn-burger span:last-child {
        top: 35px; }
    .ba-btn-burger--active span {
      opacity: 0; }
    .ba-btn-burger--active span:first-child {
      opacity: 1;
      top: 19px;
      transform: rotate(405deg); }
    .ba-btn-burger--active span:last-child {
      opacity: 1;
      top: 19px;
      transform: rotate(-405deg); }
  .ba-btn-lang {
    padding: 0;
    width: 100%;
    height: 15px;
    text-transform: uppercase; }
  .ba-btn-consult, .ba-btn-more, .ba-btn-submit {
    max-width: 200px;
    width: 100%;
    height: 50px;
    font-size: 0.75rem;
    background-color: #8CC53D;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1em; }
    .ba-btn-consult_small {
      height: 38px;
      width: 42px;
      font-size: 2rem;
      background-color: #305C2D;
      padding: 0;
      margin: 0 0.5rem;
      margin: 0 1rem; }
  .ba-btn-more {
    display: none; }
  .ba-btn-submit {
    background-color: #305C2D;
    margin: 0; }
  .ba-btn-scroll {
    font-weight: 600;
    font-size: 0.625rem;
    line-height: 1.2em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #305C2D;
    margin-bottom: 5px; }

.ba-lang {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  text-align: center;
  border: 2px solid #F4F4F4;
  border-radius: 3px;
  background-color: #fff;
  z-index: 1; }
  .ba-lang-wrap {
    position: relative;
    height: 15px;
    width: 58px;
    font-size: 0.75rem;
    line-height: 15px;
    color: #305C2D;
    margin: 0 1rem; }
  .ba-lang-chosen {
    display: inline-block; }
  .ba-lang li {
    padding: 0.5rem 0; }
    .ba-lang li:hover {
      background-color: #F4F4F4; }
  .ba-lang-link {
    text-decoration: none;
    color: #305C2D; }

.ba-hero {
  height: calc(100vh - 91px);
  padding: 0;
  background-image: url(../img/snail_banner.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden; }
  .ba-hero__scroll {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 316px;
    width: 100%;
    height: 58px;
    margin: 0 auto;
    max-width: 100%; }
    .ba-hero__scroll svg {
      width: 100%; }
    .ba-hero__scroll .ba-btn-scroll {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%; }
  .ba-hero-wrapper {
    padding-top: 13.6363vh;
    text-align: left; }
    @media screen and (min-width: 769px) {
      .ba-hero-wrapper {
        font-size: 3.25rem;
        padding-left: 43px; } }
  .ba-hero__title {
    font-size: 2rem;
    color: #fff;
    font-weight: 500;
    line-height: 1.3079em;
    max-width: 537px; }
    .ba-hero__title:after {
      content: '';
      display: block;
      width: 163px;
      height: 1px;
      background-color: #fff;
      margin-top: 20px;
      margin-left: 5px; }
    @media screen and (min-width: 769px) {
      .ba-hero__title {
        font-size: 3.25rem; } }
  .ba-hero__text {
    font-size: 1rem;
    line-height: 1.5em;
    max-width: 418px;
    color: #E7E7E7;
    margin-left: 5px; }

.ba-section {
  text-align: center; }
  .ba-section__title {
    font-size: 1.875rem;
    line-height: 1.2173em;
    font-weight: 500;
    color: #305C2D;
    margin: 0; }
    .ba-section__title:after {
      content: '';
      display: block;
      width: 2px;
      height: 30px;
      background-color: #305C2D;
      margin: 15px auto; }
    @media screen and (min-width: 769px) {
      .ba-section__title {
        font-size: 2.875rem; }
        .ba-section__title:after {
          height: 60px; } }
  .ba-section__abstracts, .ba-about__text {
    font-size: 1.125rem;
    line-height: 1.5em;
    font-weight: 500;
    color: #305C2D;
    max-width: 354px;
    margin: auto; }
  .ba-section__text {
    font-size: 1rem;
    line-height: 1.6875em;
    color: #7B7B7B;
    max-width: 586px;
    margin: 15px auto 50px; }

.ba-about-wrapper {
  padding-top: 100px;
  padding-bottom: 100px; }

.ba-about__text {
  line-height: 1.3333em; }
  .ba-about__text:before {
    content: '';
    display: block;
    margin: 18px auto 19px;
    width: 2px;
    height: 35px;
    background-color: #305C2D; }

.ba-about-facts {
  max-width: 1120px;
  margin: 0 auto; }

.ba-about-fact {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 25%, #A6E34F 100%);
  padding-bottom: 48px;
  margin-top: 2rem; }
  @media screen and (min-width: 1025px) {
    .ba-about-fact {
      margin-top: 0; } }

.ba-about-icon {
  width: 85px;
  height: 85px;
  margin: 0 auto; }
  .ba-about-icon .icon {
    max-width: 100%;
    max-height: 100%; }

.ba-pro {
  position: relative;
  padding-top: 130px;
  padding-bottom: 256px; }
  .ba-pro:before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url(../img/bg-reasons-why.svg);
    background-size: cover;
    background-repeat: no-repeat; }
  .ba-pro-wrapper {
    max-width: 957px; }
  .ba-pro-item {
    display: flex;
    align-items: flex-start;
    text-align: left;
    min-height: 181px;
    max-width: 405px;
    margin-right: auto; }
    .ba-pro-item_left {
      margin-right: 0;
      margin-left: auto; }
  .ba-pro-icon {
    height: 63px;
    width: 63px;
    margin-right: 15px;
    margin-top: 36px; }
    .ba-pro-icon .icon {
      max-width: 100%;
      max-height: 100%; }
  .ba-pro-info {
    position: relative;
    padding-top: 36px; }
    .ba-pro-info:before {
      content: attr(dataCount);
      font-size: 140px;
      font-weight: 500;
      line-height: 171px;
      color: rgba(0, 0, 0, 0.04);
      position: absolute;
      top: 0;
      left: 0; }
  .ba-pro__name, .ba-technology__title {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.2em;
    color: #305C2D; }
  .ba-pro__text, .ba-technology__desc {
    font-size: 1rem;
    line-height: 1.6875em;
    color: #646464;
    max-width: 305px; }
  .ba-pro .ba-btn-consult, .ba-pro .ba-btn-more, .ba-pro .ba-btn-submit {
    margin-top: 45px;
    margin-bottom: 25px; }

.ba-services-wrapper {
  max-width: 1006px;
  padding-bottom: 103px; }

.ba-services__abstracts {
  max-width: 372px;
  margin-bottom: 50px; }

.ba-service {
  text-align: left;
  max-width: 312px;
  height: 426px;
  width: 100%;
  margin: 0 auto;
  padding: 43px;
  position: relative;
  z-index: 1; }
  .ba-service:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: rgba(255, 255, 255, 0.85);
    transition: 0.5s; }
  .ba-service_1 {
    background-image: url(../img/services-1.jpg);
    background-size: cover;
    background-repeat: no-repeat; }
  .ba-service_2 {
    background-image: url(../img/services-2.jpg);
    background-size: cover;
    background-repeat: no-repeat; }
  .ba-service_3 {
    background-image: url(../img/services-3.jpg);
    background-size: cover;
    background-repeat: no-repeat; }
  .ba-service:hover:before {
    top: 15px;
    bottom: 15px;
    left: 15px;
    right: 15px;
    background-color: rgba(255, 255, 255, 0.4); }
  .ba-service:hover .ba-service__info {
    display: none; }
  .ba-service:hover .ba-btn-more {
    display: block;
    z-index: 1; }
  .ba-service .ba-btn-more {
    position: absolute;
    top: 45%; }
  .ba-service__title {
    font-size: 1.25rem;
    line-height: 1em;
    font-weight: 600;
    color: #305C2D; }
    .ba-service__title:after {
      content: '';
      display: block;
      width: 2px;
      height: 30px;
      background-color: #305C2D;
      margin: 15px 0; }
    @media screen and (min-width: 769px) {
      .ba-service__title {
        font-size: 1.5rem; }
        .ba-service__title:after {
          height: 60px; } }
  .ba-service__list {
    list-style: none;
    margin: 0;
    padding: 0; }
  .ba-service__item {
    font-size: 1rem;
    line-height: 1.5em;
    font-weight: 500;
    color: #000;
    margin-bottom: 1em; }
  @media screen and (max-width: 768px) {
    .ba-service {
      margin-top: 1rem; } }

.ba-technologies {
  padding-top: 160px;
  padding-bottom: 125px;
  position: relative; }
  .ba-technologies:before {
    content: '';
    position: absolute;
    display: block;
    top: -160px;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background-image: url(../img/bg-technologies-top.svg);
    background-size: cover;
    background-position: right top;
    z-index: -1; }
  .ba-technologies:after {
    content: '';
    position: absolute;
    display: block;
    right: 0;
    left: 0;
    bottom: -175px;
    width: 100%;
    height: 290px;
    background-image: url(../img/bg-technologies-bottom.svg);
    background-size: cover;
    background-position: right bottom;
    z-index: 1; }

.ba-technology {
  margin-top: 33px; }
  .ba-technology-icon {
    width: 69px;
    height: 69px;
    margin: auto; }
    .ba-technology-icon .icon {
      max-width: 100%;
      max-height: 100%; }
  .ba-technology__title_big {
    font-size: 1.5rem;
    line-height: 1em;
    font-weight: 600; }
  .ba-technology__desc {
    min-width: 100%; }
    .ba-technology__desc_small {
      line-height: 1.5em;
      color: #7B7B7B; }
  .ba-technology-2 {
    padding-top: 85px; }
  .ba-technology_tal {
    text-align: left;
    max-width: 465px;
    margin: 0 auto; }
  .ba-technology__link {
    text-decoration: none;
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 1.25em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #305C2D; }
    .ba-technology__link:before {
      content: '';
      display: inline-block;
      width: 60px;
      height: 2px;
      background-color: #305C2D;
      margin-bottom: 0.25em;
      margin-right: 20px; }
  .ba-technology-video {
    width: 100%; }
    .ba-technology-video iframe {
      max-width: 100%; }

.ba-ontouch {
  min-height: 535px;
  position: relative;
  padding-top: 283px;
  padding-bottom: 92px; }
  .ba-ontouch:before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(321.59deg, #A6E34F 10.66%, #C9F986 56.05%);
    z-index: -1; }
  .ba-ontouch:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-image: url(../img/snail-bg.png);
    background-repeat: no-repeat;
    background-position: right top;
    z-index: -1; }
  @media screen and (min-width: 769px) {
    .ba-ontouch {
      text-align: left; } }
  .ba-ontouch__title:after {
    content: none; }
  .ba-ontouch-form {
    max-width: 800px;
    height: 180px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 30px; }
    @media screen and (min-width: 769px) {
      .ba-ontouch-form {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 50px; } }

.ba-inp {
  max-width: 250px;
  height: 50px;
  width: 100%;
  font-size: 0.875rem;
  line-height: 1.2143em;
  font-weight: 500;
  color: #305C2D;
  border: none;
  border-bottom: 1px solid #305C2D;
  padding: 1rem;
  background: transparent; }
  .ba-inp::placeholder {
    color: #305C2D; }

.ba-footer-wrapper {
  max-width: 981px;
  min-height: 260px;
  padding-top: 56px; }

.ba-footer__title {
  font-size: 1rem;
  line-height: 1.25em;
  font-weight: 600;
  color: #305C2D; }

.ba-footer-listwrap {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.ba-footer__links, .ba-footer__labels {
  list-style: none;
  margin: 0;
  padding: 0; }

.ba-footer__link, .ba-footer__label {
  text-decoration: none;
  color: #000;
  font-size: 0.875rem;
  line-height: 2em; }

.ba-footer__label {
  font-weight: 500; }

.ba-footer-media {
  min-height: 136px;
  padding-top: 1rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  @media screen and (min-width: 525px) {
    .ba-footer-media {
      flex-direction: column; } }

.ba-footer-info {
  max-width: 125px;
  margin: 0 auto; }
  @media screen and (max-width: 525px) {
    .ba-footer-info {
      margin: 0; } }

.ba-footer-contacts {
  max-width: 291px; }

.ba-social {
  display: flex;
  width: 124px;
  justify-content: space-between; }
  .ba-social__link {
    text-decoration: none;
    color: #000;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid #000;
    display: flex;
    align-items: center; }
    .ba-social__link span {
      margin: auto; }
